@using HtmlHelpers.BeginCollectionItem
@model BBDEVSYS.ViewModels.CenterSetting.PaymentItems.PaymentItemsChargeViewModel
<tr>
    @using (Html.BeginCollectionItem("pymItemsChargeList"))
    {
        <td class="col-md-2">@Model.SEQUENCE</td>
        <td class="col-md-5" style="word-wrap:break-word">@Html.TextBoxFor(m => m.PAYMENT_ITEMS_FEE_NAME, new { @class = "form-control  ", style = "width:100%" })</td>
        <td class="col-md-3" style="word-wrap:break-word;">
            @Html.DropDownListFor(m => m.CHARGE_TYPE, new SelectList(Model.ChargeTypeList, "ValueKey", "ValueText"), "", new { @class = "form-control input-sm col-md-2", style = "width:100%;" })

        </td>
        <td style="text-align:right;" class="true-table-column-fit-content col-md-2">
            <button type="button" class="true-table-detail-icon-button authManage" title="Up" onclick="moveItemRowUp(this)">
                <i style="vertical-align:middle" class="glyphicon glyphicon-arrow-up"></i>
            </button>

            <button type="button" class="true-table-detail-icon-button authManage" title="Down" onclick="moveItemRowDown(this)">
                <i style="vertical-align:middle" class="glyphicon glyphicon-arrow-down"></i>
            </button>

            <button type="button" class="true-table-detail-icon-button authManage" onclick="deleteItemRow(this)" title="ลบ">
                <i style="vertical-align:middle" class="glyphicon glyphicon-trash"></i>
            </button>
        </td>
        @Html.HiddenFor(m => m.DeleteFlag, new { @class = "detail-item-delete-flag" })
        @Html.HiddenFor(m => m.ID)
    }

</tr>
<script src="~/Content/js/input.initialization.js"></script>

