@model BBDEVSYS.ViewModels.Authorization.AppCompositeRoleViewModel
@using BBDEVSYS.Services.Shared

@{
    ViewBag.Title =ViewBag.Title +BBDEVSYS.Content.text.ResourceText.TitleAppCompositeRole;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-xs-12 ">
        <div class="true-list-toolbar col-xs-12">
            <div class="col-xs-12 true-list-toolbar-button">
                <button type="button" class="btn btn-success authManage" id="createButton" >
                    <span class="fa fa-plus"></span>
                    @BBDEVSYS.Content.text.ResourceText.ButtonCreate
                </button>
            </div>
        </div>
        <table id="dataListTable" class="table table-striped table-bordered table-hover table-responsive true-datatable"></table>


    </div>
</div>

<script>
    $(document).ready(function () {

        var columns = [
            { "data": "Name", "title": "@BBDEVSYS.Content.text.ResourceText.ACRName", "type": "string", "width": "60%" },
            { "data": "StatusText", "title": "@BBDEVSYS.Content.text.ResourceText.STATUS", "type": "string", "width": "20%" },
            { "data": null, "defaultContent": getDataTableButton(["display", "edit", "copy", "delete"]), "orderable": false, "width": "20%", "className": "true-dt-button-column" },
            { "data": "ID", "type": "num", "hidden": true }
        ];

        displayDataTable('dataListTable', '@Url.Action("GetList", "AppCompositeRole", new { Area = "Authorization" })', columns);

        //Button action
        //Display
        $('#dataListTable tbody').on('click', '.true-dt-button-display', function () {
            var id = $(this).GetDatatableData()["ID"];

            var url = '@Url.Action("Detail", "AppCompositeRole", new { Area = "Authorization" })?recordKey=' + id;

            redirectTo(url);
        });


        //Create
        $('#createButton').click(function () {
            var recordKey = $('#recordKey').val(0);
            $('#formState').val('@ConstantVariableService.FormStateCreate');

            var url = '@Url.Action("Manage", "AppCompositeRole", new { Area = "Authorization" })?recordKey=0&formState=' + '@ConstantVariableService.FormStateCreate';

            redirectTo(url);
        });

        //Edit
        $('#dataListTable tbody').on('click', '.true-dt-button-edit', function () {
            var id = $(this).GetDatatableData()["ID"];

            var url = '@Url.Action("Manage", "AppCompositeRole", new { Area = "Authorization" })?recordKey=' + id + '&formState=' + '@ConstantVariableService.FormStateEdit';

            redirectTo(url);
        });

        //Copy
        $('#dataListTable tbody').on('click', '.true-dt-button-copy', function () {
            var id = $(this).GetDatatableData()["ID"];

            var url = '@Url.Action("Manage", "AppCompositeRole", new { Area = "Authorization" })?recordKey=' + id + '&formState=' + '@ConstantVariableService.FormStateCopy';

            redirectTo(url);
        });

        //Delete
        $('#dataListTable tbody').on('click', '.true-dt-button-delete', function () {
            var id = $(this).GetDatatableData()["ID"];

            var url = '@Url.Action("Manage", "AppCompositeRole", new { Area = "Authorization" })?recordKey=' + id + '&formState=' + '@ConstantVariableService.FormStateDelete';

            redirectTo(url);
        });
        var SpinBtn = ['display', 'edit', 'copy', 'delete'];
        loadingButton(SpinBtn);
    });


</script>

